#container {
	text-align: center;
}

#menu {
	vertical-align:top;
	display: inline-block;
	background: white;
	border: 1px solid;
	border-left-width: 0;
	word-wrap: break-word;
	white-space: pre-wrap;
	position: auto auto;
	text-align: left;
}

#game-canvas {
	border: 1px solid;
	z-index: 1;
}

#ui-canvas {
	z-index: 2;
}

#canvases {
	position: relative;
	display: inline-block;
}