#container {
	text-align: center;
}

#menu {
	vertical-align:top;
	display: inline-block;
	background: white;
	border: 1px solid;
	word-wrap: break-word;
	position: auto auto;
	text-align: left;
}

#canvas {
	display: inline-block;
	border: 1px solid;
	position: auto auto;
}