#container {
}

#menu_container {
	display: inline-block;
	vertical-align:top;
}

#status_display {
	vertical-align:top;
	word-wrap: break-word;
	white-space: pre-wrap;
}

#menu {
	vertical-align:top;
	background: white;
	word-wrap: break-word;
	white-space: pre-wrap;
}

canvas { position: absolute; }

#canvases {
	display: inline-block;
	position: relative;
	border: 1px solid;
}

#game-canvas {
	z-index: 1;
}

#ui-canvas {
	z-index: 2;
}